body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
    text-align: center;
}

.recipes{
    width: 400px;
    margin: 16px auto;
    background-color: wheat;
}
.title {    
    padding-top: 16px;
}

.pizza {
    display: block;
    margin: 16px;
    padding: 8px;    
   
}

.pbj {
    display: block;
    margin: 16px;
    padding: 8px;

}

.riggies {
    display: block;
    margin: 16px;
    padding-top: 8px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}